@font-face {
  font-family: 'Krone Regular';
  src: url('../assets/fonts/KronaOne-Regular.ttf') format('truetype');
  font-style: normal;
}

.main-heading {
  color: aquamarine;
  font-family: 'Krone Regular';
}